[submodule "engine/dependencies/SDL"]
	path = engine/dependencies/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "engine/dependencies/VulkanMemoryAllocator"]
	path = engine/dependencies/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "engine/dependencies/imgui"]
	path = engine/dependencies/imgui
	url = https://github.com/ocornut/imgui
[submodule "engine/dependencies/glm"]
	path = engine/dependencies/glm
	url = https://github.com/g-truc/glm
